<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">
            대표 김모두 <br>
            사업자번호 375-87-00088<br>
            직업정보제공사업 신고번호 J1200020200016<br>
            주소 경기도 성남시 분당구 판교로 242 PDC A동 902호<br>
            전화 031-600-8586 | 고객문의 cs@modu.com<br>
        </p></div>
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; kube Modu 2023</p></div>
    </footer>
</th:block>
</html>